.search-input {
  margin-top: -35px;
  margin-right: -100px; }

.search-all {
  position: relative;
  height: 2.2em;
  border: 1px solid #ced4da;
  margin-left: -510px;
  margin-top: 0px;
  background-color: #ced4da; }
